/* ---------- FONTS ---------- */
/* ---------- FONTS END ---------- */

/* ---------- UNIVERSAL ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ---------- UNIVERSAL END ---------- */

/* ---------- SCSS VARIABLES ---------- */
/* ---------- SCSS VARIABLES END ---------- */

/* ---------- HEADER ---------- */
/* ---------- HEADER END ---------- */

/* ---------- MAIN ---------- */
/* ---------- MAIN END ---------- */

/* ---------- FOOTER ---------- */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ---------- FOOTER END ---------- */
